#home {
    display: flex;
    height: 100vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;

}
.p-home {
    color: black;
    font-size: 1.2rem;
    text-shadow: 1px 0px 3px rgba(255,255,255,0.79);
}

#element {
    text-shadow: 1px 0px 3px rgba(255,255,255,0.79);
}